.carousel-item img {
  height: 400px;
  object-fit: cover;
}
nav {
  background-color: #212121;
}
.auto-span {
  font-weight: lighter;
}
.vip-span {
  font-weight: bolder;
}
.seccion-principal {
  padding: 2rem;
}
footer {
  background-color: #212121;
}
